<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bike And KAre - Update Customer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

 <style>
  .bg-black {
    background-color: black;
  }
  .bg-black-text {
    color: white;
  }
  .off-white-text {
    color: #f8f9fa; /* Off-white color code */
  }
</style>
<div class="container mt-3">

  <div class="container mt-3">

  <nav class="navbar navbar-expand-sm bg-light">
      <div class="container-fluid">

        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="/home-Auto Service Track">Manage Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fetch-Customers-of-Service-Station">View Customers</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/search">Search Customer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search-service">Search Service-Date</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search-service-by-car-number">Search Service-Car Number</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

<div class="container mt-3">
  <div class="mt-4 p-5 bg-black bg-black-text rounded">
    <h1 class="dark-red-text">Bike And Kare</h1>
    <p class="off-white-text">
  </div>
 <div class="mb-3 mt-3">
  <h2>Update Customer</h2>
  <form action="/update-customer-service-station" method="post">
    <div class="mb-3 mt-3">
  <label for="name">name:</label>
  <input type="text" class="form-control" id="name" placeholder="Enter Customer Name" name="name" value="{{customer['name']}}">
</div>
<div class="mb-3 mt-3">
  <label for="phone_number">Phone Number:</label>
  <input type="text" class="form-control" id="phone_number" placeholder="Enter Phone Number" name="phone_number" value="{{customer['phone_number']}}">
</div>
<div class="mb-3 mt-3">
  <label for="email">email:</label>
  <input type="email" class="form-control" id="email" placeholder="Enter Customer Email" name="email" value="{{customer['email']}}">
</div>


<div class="form-check">
    <label for="Gender">gender:</label>
    <br>
    <input type="checkbox" class="form-check-input" id="check1" name="gender" value="Male" {% if customer['gender'] == 'Male' %}checked{% endif %}>
    <label class="form-check-label" for="check1">Male</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="gender" name="gender" value="Female" {% if customer['gender'] == 'Female' %}checked{% endif %}>
    <label class="form-check-label" for="gender">Female</label>
</div>

   <div class="mb-3 mt-3">
  <label for="address">Address:</label>
  <input type="text" class="form-control" id="address" placeholder="Enter Customer Address" name="address" value="{{customer['address']}}">
</div>
    <div>
    <input type="hidden" name="service_station_email" value="{{ session['email'] }}">
    <input type="hidden" name="service_station_id" value="{{ session['id'] }}">
    </div>
    <button type="submit" class="btn btn-primary mt-3" style="background-color: black;">Update Customer</button>
  </form>
</div>

  </form>
</div>

</body>
</html>